/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $desktop) {

  .pattern{

    &-top {
      top: -50%;
      left: -15%;
    }
  
    &-bottom {
      bottom: -60%;
      right: -15%;
    }

  }


  

}

