
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    list-style-type: none;
  }

html, body {
    margin: 0;
    height: 100%;
}

body {
  background-image: url(../../images/bg-pattern-top.svg), url(../../images/bg-pattern-bottom.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-color: #19A1AD;
  background-size: 500px;
}
  