
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    list-style-type: none;
  }

body {
  background-image: url(../../images/bg-pattern-bottom.svg);
  background-color: #19A1AD;
}
  